
@{
    ViewBag.Title = "用戶基本資料查詢/維護";
}

<div id="APP" page="UserInfoMaintenance"></div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="@Url.Content("~/dist/XQLiteMgm.js")"></script>

