@{
    ViewBag.Title = "用戶訂單查詢/維護";
}

<div id="APP" page="UserOrderMaintenance"></div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="@Url.Content("~/dist/XQLiteMgm.js")"></script>